<section class="py-20 px-edge">
  <div class="max-w-screen-xl mx-auto">
    <h2>Looking for wealth advising?</h2>
    <p>Our sister company Natural State Wealth advisors</p>
    <button>Go To Natural State Wealth Advisors</button>
  </div>
</section>

<script></script>
