---
import "../styles.css";
import Footer from "@components/Footer/Footer.astro";
import SEO from "@components/SEO.astro";
export interface Props {
  seo: {
    metaTitle: string;
    metaDescription: string;
  };
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <SEO metaTitle={seo.metaTitle} metaDescription={seo.metaDescription} />
    <script type="text/partytown" data-domain="nswadvisors.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
